.experties-sec {
  padding: 100px 0;
  .vision-wrap,
  .core-values-wrap {
    background-image: url("../images/expertise.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 95px 0;
    position: relative;
    z-index: 9999;

    position: relative;

    overflow: hidden;

    .content-box {
      h4 {
        color: $pure-white !important;
      }
      p {
        color: $pure-white !important;
      }
    }

    .overlay {
      opacity: 0.9;
      z-index: -1;
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: $overlay-black;
    }

    .title {
      margin: auto;
      color: $pure-white;
      h3 {
        text-transform: capitalize;
        padding: 0 30px;
        font-size: 40px;
      }
    }
    .core-values-item {
      margin: auto;
      .value-box {
        display: flex;
        margin: 60px auto;
        align-items: center;
        // justify-content: space-between;
        .icon-box {
          width: 48px;
          height: 48px;
          background: $gray;

          text-align: center;
          justify-content: center;
          /*    transform: translate(-35%, -24px); */
          display: flex;
          align-items: center;
          margin: 0 25px;

          .img-exoer {
            width: 100% !important ;
          }
        }
        .content-box {
          max-width: 532px;
          h4 {
            line-height: 30px;
            font-size: 30px;
            font-weight: bold;
            color: #2077a5;
          }
          p {
            color: #797977;
            line-height: 24px;
            font-size: 20px;
            font-style: book;
            font-weight: 400;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1399px) {
  .experties-sec {
    .vision-wrap,
    .core-values-wrap {
      .title {
        margin: auto;
      }
      .core-values-item {
        max-width: 695px;
        margin: auto;
        .value-box {
          display: flex;
          margin: 60px auto;

          .content-box {
            max-width: 450px;
          }
        }
      }
    }

    .media-off-sn-msg {
      padding: 0;
    }
  }
}
@media screen and (max-width: 1199px) {
  .experties-sec {
    .vision-wrap,
    .core-values-wrap {
      .core-values-item {
        .value-box {
          .content-box {
            max-width: 327px;
          }
        }
      }
    }

    .media-off,
    .goals-sec {
      .sn-msg {
        /*   padding: 10px 0; */
        h1 {
          padding: 15px 0;
          font-size: 24px;
          line-height: 41px;
        }
        p {
          max-width: 568px;
          font-size: 16px;
          line-height: 18px;
        }
      }
    }
    .media-vector {
      display: none;
    }
  }
}
@media screen and (max-width: 769px) {
  .experties-sec {
    .vision-wrap,
    .core-values-wrap {
      .title {
        h3 {
          font-size: 40px;
        }
      }
      .core-values-item {
        max-width: 695px;
        margin: auto;
        .value-box {
          // margin: 30px auto;
          // justify-content: space-between;

          .content-box {
            max-width: 532px;
          }
        }
      }
    }

    .goals-sec {
      .sn-msg p {
        max-width: 653px;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 36px;
      }
    }
    .media-off,
    .goals-sec {
      max-height: none;
    }

    .about-vector {
      position: absolute;
      top: 0% !important;
      right: 0%;
    }

    .media-off-sn-msg {
      padding: 20px 0;
    }
  }
}
@media screen and (max-width: 550px) {
  .experties-sec {
    .vision-wrap,
    .core-values-wrap {
      .title {
        h3 {
          font-size: 30px;
          text-align: center;
        }
      }
      .core-values-item {
        .value-box {
          margin: 30px auto;
          justify-content: space-between;
          flex-direction: column;
          text-align: center;
          justify-content: center;
          align-items: center;

          .content-box {
            padding-top: 33px;
          }
        }
      }
    }
  }
}
