@import "about";
.ar{
.about-page {
    .media-off,
    .goals-sec {
        .media-vector {
            left: 21%;
        }
        .about-vector {
            left: -83px;
        }
        .sn-msg-vector {
            right: -7%;
            right: -102px;
        }
    }
}

}

