.owl-dots {
  text-align: center;
}
.owl-dots button.owl-dot.active span, 
.owl-dots button.owl-dot:hover span {
background-color: #FEAE00;
border-radius: 50%;
height: 12px;
width: 12px;
position: absolute;
top: 1px;
left:1px;
}
.owl-dots button.owl-dot{
border: 1px solid gray;
background: white;
 border-radius: 50%;
 height: 16px;
 width: 16px;
 position: relative;
}

