.home-page {
  /*start shooth-sec-  */
  .icon-box {
    width: 90px;
    height: 90px;
    background: $brand-blue;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 25px 0;
    padding: 15px;

    img {
      width: 70% !important;
    }
  }

  /*start event-section  */
  .event-section {
    position: relative;
    padding: 80px 0;

    .crafting-sec {
      display: flex;
      justify-content: space-between;
      .event-card {
        position: relative;
        max-height: 532px;
        max-width: 410px;
        border-radius: 5px;
        // transition: all 0.3s linear;
        overflow: hidden;
        cursor: pointer;
        img {
          height: 1171px;
        }

        &:after {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: $blue1;
          opacity: 0.5;
          border-radius: 5px;
        }

        .content {
          width: 100%;
          padding: 20px 30px;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          background: rgb(0, 0, 0);
          background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 79%);
          color: white;
          .top-wrapper {
            h3 {
              font-weight: 700;
              font-size: 27px;
              margin-bottom: 10px;
              line-height: 41.6px;
              a {
                color: white;
                position: relative;
              }
            }
            .dis {
              // margin: 20px 0 60px;
              // min-height: 72px;
              -webkit-box-orient: vertical;
              display: block;
              display: -webkit-box;
              -webkit-line-clamp: 4;
              overflow: hidden;
              text-overflow: ellipsis;
              font-weight: 300;
              display: none;
            }
          }

          .action-wrapper {
            display: flex;
            align-items: center;
            /* margin-top: 20px; */

            .link-action {
              display: none;
              color: white;
              .icon-box {
                width: 55px;
                height: 55px;
                background: white;
                img {
                  width: 70% !important;
                }
              }
            }
          }
        }

        img {
          width: 100%;
          height: 1171px;
        }
        &:hover {
          .content {
            background: linear-gradient(0deg, rgba(0, 77, 113, 0.8) 0%, rgba(0, 77, 113, 0.8) 100%);
            // animation: fadeIn 200ms;
            transition-delay: 3s;
            .top-wrapper {
              .dis {
                animation: fadeInUp 600ms;
                display: block;
              }
            }
            .action-wrapper {
              animation: fadeInUp 700ms;
              .link-action {
                position: relative;
                display: block;
                color: white;

                &:hover {
                  color: $green !important;
                }
              }
            }
          }
          img {
            transform: scale(1.2);
          }
        }
      }
    }
    // outsourcing-se
    .outsourcing-sec {
      .card {
        padding: 50px 35px;
        color: $pure-white;
        background-color: $brand-blue;
        .card-body {
          padding: 5rem 0;
        }
        p {
          font-weight: 400;
          font-size: 18px;
          line-height: 27px;
        }
        .card-title {
          font-size: 52px;
          margin-bottom: 1.2rem;
        }
      }
    }

    .software-specific {
      .card {
        background: $brand-primary;
        padding: 80px 35px;
        color: $pure-white;
        .card-body {
          h5 {
            font-size: 28px;
          }
          .icon-box {
            width: 72px;
            height: 72px;
          }
        }

        //   .icon-box {
        //     width: 90px;
        //     height: 90px;
        //     background: $brand-blue;
        //     text-align: center;
        //     justify-content: center;
        //     display: flex;
        //     align-items: center;
        //     margin:25px 0;
        //     padding:  15px;

        //     img{

        //       width: 70%;
        //     }
        // }
      }
    }
  }
}

@media screen and (max-width: 769px) {
  /*start event-section  */
  .event-section {
    .crafting-sec {
      .event-card {
        a {
          font-size: 18px;
        }
      }
    }

    .owl-nav {
      right: -65px !important;
    }
  }
}

@media screen and (max-width: 580px) {
  /*start event-section  */
  .event-section {
    .crafting-sec {
      .event-card {
        a {
          font-size: 14px !important;
          line-height: 20px !important;
        }
      }
    }
    .owl-nav {
      top: 105% !important;
      display: flex !important;
      button {
        height: 16px;
        width: 15px;
        margin: 15px;
      }
    }
  }

  .event-section {
    .owl-nav {
      top: unset !important;
      bottom: -20% !important;
    }
  }
}
