* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {

  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1;
}

input,
button {
  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}
ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
  color: white;
}

// .container-fluid {
//   max-width: calc(100% - 65px);
//   padding: 0;
// }

.title-wrapper {
  // padding: 75px 0 50px 0;
  font-size: 50px;
  font-weight: 600;
  color: $black;
  text-transform: capitalize;
  padding-bottom: 80px;
}

.custom-nav {
  position: relative;
  // text-align: center;
  margin-top: 10px;
}

.custom-prev, .custom-next {
  background-color: transparent;
  border: 1px solid #d4b179;
  border-radius: 50%;
  color: #d4b179;
  cursor: pointer;
  padding: 5px 10px;
  margin: 0 5px;
  transition: background-color 0.3s, color 0.3s;
}

.custom-prev:hover, .custom-next:hover {
  background-color: #d4b179;
  color: white;
}

@media screen and (max-width: 1399px) {
}

@media screen and (max-width: 1199px) {
}
@media screen and (max-width: 769px) {
  .title-wrapper {
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 580px) {
  h2 {
    font-size: 2rem;
    font-weight: 700;
  }
  .title-wrapper {
    font-size: 35px !important;
    font-weight: 500;
  }
}

@media screen and (max-width: 325px) {
}
