* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {

  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1;
}

input,
button {
  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}
ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
  color: white;
}

// .container-fluid {
//   max-width: calc(100% - 65px);
//   padding: 0;
// }

.title-wrapper {
  // padding: 75px 0 50px 0;
  font-size: 50px;
  font-weight: 600;
  color: $black;
  text-transform: capitalize;
  padding-bottom: 80px;
}

.custom-nav {
  position: relative;
  // text-align: center;
  margin-top: 10px;
}

.custom-prev, .custom-next {
  background-color: transparent;
  border: 1px solid #d4b179;
  border-radius: 50%;
  color: #d4b179;
  cursor: pointer;
  padding: 5px 10px;
  margin: 0 5px;
  transition: background-color 0.3s, color 0.3s;
}

.custom-prev:hover, .custom-next:hover {
  background-color: #d4b179;
  color: white;
}












.board-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.board-item {
  flex: 1 1 30%;
  max-width: 30%;
  box-sizing: border-box;
}

// .card {
//   border: 1px solid #ddd;
//   border-radius: 8px;
//   overflow: hidden;
//   box-shadow: 0 4px 8px rgba(0,0,0,0.1);
//   background-color: white;
// }


.card-body {
  padding: 15px;
}

.card-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.card-text {
  font-size: 14px;
  color: #555;
}

.card-text a {
  color: #007bff;
  text-decoration: none;
}

.card-text a:hover {
  text-decoration: underline;
}


@media screen and (max-width: 1399px) {
}

@media screen and (max-width: 1199px) {
}
@media screen and (max-width: 769px) {
  .title-wrapper {
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 580px) {

  .title-wrapper {
    font-size: 35px !important;
    font-weight: 500;
  }
}

@media screen and (max-width: 325px) {
}



@media (max-width: 900px) {
  .board-item {
      flex: 1 1 45%;
      max-width: 45%;
  }
}

@media (max-width: 600px) {
  .board-item {
      flex: 1 1 100%;
      max-width: 100%;
  }
}