$fontversion: 'bdl4ma';
@font-face {
  font-family: "fiicons";
  src: url("#{$iconsFontPath}/ficons.eot?#{$fontversion}");
  src: url("#{$iconsFontPath}/ficons.eot?#{$fontversion}#iefix") format("embedded-opentype"),
    url("#{$iconsFontPath}/ficons.ttf?#{$fontversion}") format("truetype"),
    url("#{$iconsFontPath}/ficons.woff?#{$fontversion}") format("woff"),
    url("#{$iconsFontPath}/ficons.svg?#{$fontversion}#fiicons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="fi-"],
[class*=" fi-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "fiicons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.fi-tie:before {
  content: "\e98b";
}
.fi-arrow-circle-left .path1:before {
  content: "\e98c";
  color: rgb(0, 0, 0);
}
.fi-arrow-circle-left .path2:before {
  content: "\e98d";
  margin-left: -0.9501953125em;
  color: rgb(255, 255, 255);
}
.fi-arrow-circle-right .path1:before {
  content: "\e98e";
  color: rgb(0, 0, 0);
}
.fi-arrow-circle-right .path2:before {
  content: "\e98f";
  margin-left: -1.26953125em;
  color: rgb(255, 255, 255);
}
.fi-email1:before {
  content: "\e96b";
}
.fi-youtube2:before {
  content: "\e96c";
}
.fi-dg:before {
  content: "\e96d";
}
.fi-instgram:before {
  content: "\e96e";
}
.fi-live-chat:before {
  content: "\e96f";
}
.fi-to-way:before {
  content: "\e970";
}
.fi-circle-right:before {
  content: "\e971";
}
.fi-Target:before {
  content: "\e972";
}
.fi-binoculars:before {
  content: "\e973";
}
.fi-home1:before {
  content: "\e974";
}
.fi-idea1:before {
  content: "\e975";
}
.fi-people:before {
  content: "\e976";
}
.fi-tie1:before {
  content: "\e977";
}
.fi-user1:before {
  content: "\e978";
}
.fi-watch:before {
  content: "\e979";
  color: #747272;
}
.fi-chevron-left1:before {
  content: "\e97a";
}
.fi-chevron-right1:before {
  content: "\e97b";
}
.fi-facebook1:before {
  content: "\e97c";
}
.fi-phone1:before {
  content: "\e97d";
}
.fi-search2:before {
  content: "\e97e";
}
.fi-send1:before {
  content: "\e97f";
}
.fi-toll-free:before {
  content: "\e980";
}
.fi-youtube11 .path1:before {
  content: "\e981";
  color: rgb(5, 5, 5);
}
.fi-youtube11 .path2:before {
  content: "\e991";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.fi-twitter2:before {
  content: "\e982";
}
.fi-eva_menu-outline1:before {
  content: "\e983";
}
.fi-arrow-right:before {
  content: "\e984";
}
.fi-arrow-circle-left1:before {
  content: "\e985";
}
.fi-arrow-circle-right1:before {
  content: "\e986";
}
.fi-clock:before {
  content: "\e987";
}
.fi-circle-arrow-left1:before {
  content: "\e988";
}
.fi-circle-arrow-right1:before {
  content: "\e989";
}
.fi-settings1:before {
  content: "\e98a";
}
.fi-twitter1:before {
  content: "\e967";
}
.fi-trash:before {
  content: "\e992";
}
.fi-youtube1:before {
  content: "\e993";
}
.fi-camera:before {
  content: "\e994";
}
.fi-close:before {
  content: "\e990";
}
.fi-instagram-line:before {
  content: "\e968";
}
.fi-youtube-line:before {
  content: "\e96a";
}
.fi-play-line:before {
  content: "\e907";
}
.fi-virtual-tour:before {
  content: "\e995";
}
.fi-circle-right-check:before {
  content: "\e969";
  color: #fff;
}
