$fontversion: 'bdl4ma';
@font-face {
  font-family: "fiicons";
  src: url("#{$iconsFontPath}/ficons.eot?#{$fontversion}");
  src: url("#{$iconsFontPath}/ficons.eot?#{$fontversion}#iefix") format("embedded-opentype"),
    url("#{$iconsFontPath}/ficons.ttf?#{$fontversion}") format("truetype"),
    url("#{$iconsFontPath}/ficons.woff?#{$fontversion}") format("woff"),
    url("#{$iconsFontPath}/ficons.svg?#{$fontversion}#fiicons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
