$brand-primary: #f3b629;
$brand-white: white;
$brand-gray: gray;
$border-gray: gray;
$brand-secondary: #89654e;
$brand-light-gray: gray;
$black05: black;
$background: #c8e7f1;
$border-color: #f4f4f4;
$border-size: 3px;
$shadow-color: #ded4d4b8;

$img: "../images/";
$FontPath: "../fonts";
$iconsFontFamily: "fiicons";
$iconsFontPath: "../fonts/fiicons";

$font-size-base: 16px;
$font-size-base-rtl: 14px;
$font-base: "Futura PT" ;
$font-base-rtl: "GE_SS_Two_Bold";

$brand-primary: #26537B;
$brand-secondary: #2077A5; 
$brand-gold: #b48a33;
$brand-gold-dark: #825924;
$brand-gold-special: #edc37f;
$brand-yellow: #e5a844;
$brand-red: #f1474e;
$brand-red-dark: #bd1b21;
$brand-green: #76ae8c;
$brand-green-light: #a9cbb6;
$brand-gray2: rgba(255, 255, 255, 0.4);
$brand-gray: #797977;
$se-gray: #747272;
$th-gray: #afafaf;
$fo-gray:#77787A;

$gray: #5f5f5f;
$gray2: #707070;
$brand-dark-gray: #c9c9c9;
$green: #a3c891;
$brand-light-gray: #b7b7b7;
$brand-white-shade: #f2f2f7;
$border-gray: #e6e6e6;
$gold-shade: #fcf6f0;
$off-white: #f1f2f2;

$pure-white: #ffffff;
$black: #000000;
$transparent-light: rgba(255, 255, 255, 0.3);
$transparent-light-hard: rgba(255, 255, 255, 0.8);
$transparent-gold: rgba(181, 147, 93, 0.2);
$transparent-blue: rgba(49, 86, 121, 0.3);
$transparent-gray: rgba(88, 97, 108, 0.8);

$blue1: rgba(36, 82, 122, 100%);

$black01: rgba(0, 0, 0, 0.1);
$black02: rgba(0, 0, 0, 0.2);
$black03: rgba(0, 0, 0, 0.3);
$black04: rgba(0, 0, 0, 0.4);
$black05: rgba(0, 0, 0, 0.5);

$white01: rgba(255, 255, 255, 0.1);
$white02: rgba(255, 255, 255, 0.2);
$white03: rgba(255, 255, 255, 0.3);
$white04: rgba(255, 255, 255, 0.4);
$white05: rgba(255, 255, 255, 0.5);

$blue01: rgba(49, 86, 121, 0.1);
$blue02: rgba(49, 86, 121, 0.2);
$blue03: rgba(49, 86, 121, 0.3);
$blue04: rgba(49, 86, 121, 0.4);
$blue05: rgba(49, 86, 121, 0.5);
$blue06: rgba(49, 86, 121, 0.6);
$blue07: rgba(49, 86, 121, 0.7);
$blue08: rgba(49, 86, 121, 0.9);
$blue09: rgba(36, 82, 122, 100%);

$facebook: #2067a9;
$twitter: #1da1f2;
$instagram: #b63ab9;
$linkedin: #0077b5;
$youtube: #f82600;
$feeds: #ff8a00;
$acrobat: #b51c1c;
