footer {
    background-color: $pure-white;
    box-shadow: 0px -7px 5px 0px rgba(0, 0, 0, 0.1);
    // start  first -sec
    .first-sec {
        border-bottom: 1px solid $brand-light-gray;
        margin-bottom: 40px;

        .row {
            align-items: baseline;
        }
        .counter {
            height: 70px;
            display: flex;
            align-items: center;
            i {
                font-size: 16px;
                color: $se-gray;
                display: inline-flex;
                align-items: center;
                justify-content: center;

                &:hover {
                    color: $brand-primary;
                }
            }
            &:hover {
                i {
                    transform: scale(1.2);
                    color: $brand-primary;
                }
            }
            span {
                color: $se-gray;
                margin: 0 5px;
                font-weight: 700;
            }
            .label {
                font-size: 20px;
            }
            .count {
                font-weight: 400;
                color: $th-gray;
            }
            .countspa {
                margin: 0 25px;
            }
        }
        .signup {
            position: relative;
            overflow: hidden;
            &::before {
                content: "";
                width: 1px;
                height: 56px;
                background-color: $brand-dark-gray;
                position: absolute;
                display: block;
                top: 30px;
            }
            .signup-box {
                display: flex;
                border: none;
                background-color: transparent;
                height: 85px;
                width: 100%;
                padding: 0 20px;
                font-weight: 300;
                color: $brand-secondary;

                &::placeholder {
                    color: $brand-dark-gray;
                }

                &:focus {
                    outline: $brand-primary;
                }
            }
            .send-btn {
                position: absolute;
                right: 0;
                top: 15px;
                border-radius: 10px;
                border: none;
                height: 51px;
                width: 125px;
                background: none;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #2077a5;

                span {
                    padding: 0 10px;
                }

                &:hover {
                    color: $pure-white;
                    background: $brand-primary;
                }
            }

            .error {
                color: $brand-red;
                position: absolute;
                left: 1px;
                bottom: -5px;
                transform: translateY(-50%);
                padding: 20px;
                padding: 0px 19px;
                font-size: 0.875rem;
            }

            .success {
                color: $green;
                position: absolute;
                left: 1px;
                bottom: -5px;
                transform: translateY(-50%);
                padding: 20px;
                padding: 0px 19px;
                font-size: 0.875rem;
            }
        }
    }
    // end first -sec
    .middle-footer {
        .logo-footer {
            display: flex;
            align-items: end;
            .left,
            .right {
                width: 100px;
                a {
                    img {
                        width: 100%;
                        transition-duration: 300ms;
                    }
                }
            }
            .left {
                margin: 0 30px 0 0;
            }
            .right {
                position: relative;
                &::before {
                    content: "";
                    width: 1px;
                    height: 45px;
                    background-color: #73654a;
                    position: absolute;
                    display: block;
                    top: 12px;
                    left: -15px;
                }
            }

            &:hover {
                transform: scale(1.1);
            }
        }

        h3 {
            font-size: 20px;
            font-weight: 700;
            color: $se-gray;
            line-height: 24px;
        }
        .quick,
        .quick-links {
            li {
                font-size: 18px;
                font-weight: 400;
                line-height: 40px;

                a {
                    position: relative;
                    color: $th-gray;
                    &::after {
                        content: "";
                        position: absolute;
                        left: 0;
                        bottom: -2px;
                        width: 0;
                        height: 2px;
                        background: #315679;
                        -webkit-transition-duration: 300ms;
                        transition-duration: 300ms;
                    }
                    &:hover {
                        color: $brand-primary;
                        &::after {
                            width: 100%;
                        }
                    }
                }
            }
        }
        .quick-links {
            display: flex;
            flex-wrap: wrap;

            li {
                width: 50%;
            }
        }
    }
}

@media screen and (max-width: 1199px) {
    .first-sec {
        .counter {
            .label {
                font-size: 14px !important;
            }

            .countspa {
                margin: 0 !important;
            }
        }
    }
}

@media screen and (max-width: 769px) {
    .first-sec {
        padding: 20px 0;

        .counter {
            height: 20px !important;
            .label {
                font-size: 14px !important;
            }

            .countspa {
                margin: 0 !important;
            }


        }

        .signup {
            .signup-box {
                height: 35px !important;
                padding: 0 0px !important;
            }
            .send-btn {
               
                right: 378px !important;
                top: 15px;
                height: 0px !important; 
             /*    width: 80px; */
            }

        }
    }

    .middle-footer {
        text-align: center;
        .logo-footer {
            margin: 0px 200px auto;
        }
        .wrapper {
            margin-bottom: 34px;

            &:hover {
                transform: none !important;
            }
        }

        h3 {
            margin: 10px 0;
        }

        .quick {
            display: flex;
            flex-wrap: wrap;

            li {
                width: 50%;
            }
        }
    }
}
@media screen and (max-width: 580px) {

    footer {
.middle-footer {
            .logo-footer {
                margin: 0px 47px auto !important;
                .left,
                .right {
                    width:80px;
                }
                .right {
                    position: relative;
                    &::before {
                        content: "";
                        height: 35px;
                    }
                }
    
               
            }
    
          
          
        }
 
}
}
@media screen and (max-width: 380px) {
    footer {
        .first-sec {
            .counter {
                height: 15px;

                i {
                    font-size: 16px;
                }
                .label {
                    font-size: 12px !important;
                }
            }
            .signup {
                &::before {
                    content: "";
                    height: 0px;
                }

                .send-btn {
                    position: absolute;
                    right: 0;
                    top: 15px;
                    border-radius: 10px;
                    border: none;
                    height: 51px;
                    width: 125px;

                    &:hover {
                        .shutter-in-vertical {
                            display: none;
                        }
                    }
                }
            }
        }

        .middle-footer {
            .quick,
            .quick-links {
                li {
                    font-size: 12px !important;
                    font-weight: 400;
                    line-height: 20px;
                    a {
                        color: $th-gray;
                    }
                }
            }
        }
    }
}
