footer {
  .footer-copyright {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    color: $th-gray;
    font-size: 18px;

    a {
      i {
        color: $brand-primary;
      }
    }
    .social-media {
      a {
        transition: all ease-in-out 0.3s;
        &:first-child {
          padding-left: 0;
        }

        &:hover {
          transform: scale(1.1);
        }
      }
    }
    .telephone {
      text-align: center;
      a {
        transition: all ease-in-out 0.3s;
        i {
          display: inline-block;
          
        }
        p {
          display: inline-block;
          color: $th-gray !important;
          &:hover {
            transform: scale(1.1);
            margin: 0 10px ;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 769px) {
  footer {
    .footer-copyright {
      .copyright {
        font-size: 12px;
      }


      .social-media {
        text-align: center !important;
      }
    }
  }
}

@media screen and (max-width: 580px) {
  footer {
    .footer-copyright {
      text-align: center;
      font-size: 14px;
      .copyright{
        p{
           margin-bottom: 0 !important;
        }
            
      }

      // .social-media {
      //   text-align: center !important;
      // }
    }
  }
}
