footer {
  padding: 120px 0;
  .footer-top {
    margin-bottom: 3rem;
    h1 {
      color: $brand-blue2;
      font-size: 100px;
      font-weight: 500;
      line-height: 116px;
      span {
        color: white;
      }
    }

    .btn-footer {
      background-color: $brand-blue1;
      cursor: pointer;
      color: #ffffff;
      font-size: 22px;
      width: 25%;
      height: 60px;
      margin: 0 45px 45px;
    }
    .btn-footer:hover {
      background: linear-gradient(to bottom, #0862ff 5%, #0862ff 100%);
      background-color: #0688fa;
    }
    .btn-footer:active {
      position: relative;
      top: 1px;
    }
  }
  a {
    &:hover {
      text-decoration: solid;
      color: $brand-blue;
    }
  }
  h6 {
    img {
      width: 200px;
    }
  }
}

@media screen and (max-width: 1399px) {
}

@media screen and (max-width: 1199px) {
  footer {
    .footer-top {
      h1 {
        font-size: 75px;
        font-weight: 500;
      }
      .btn-footer {
        // font-size: 22px;
        width:unset;
        // display: block;
        margin: 0 49px;
      }
    }
  }
}
@media screen and (max-width: 769px) {
  footer {
    .footer-top {
      h1 {
        font-size: 100px;
        font-weight: 500;
      }
      .btn-footer {
        font-size: 22px;
        width: 25%;
        display: block;
        margin: unset !important;
        // margin: 0 45px 45px;
      }
    }
 
  }
}
@media screen and (max-width: 580px) {
  footer {
    .footer-top {
      h1 {
        font-size: 75px;
        font-weight: 500;
      }
      .btn-footer {
        // font-size: 22px;
        width:unset;
        display: block;
        margin: 15px 0;
      }
    }
 
  }
}
@media screen and (max-width: 325px) {
}
