// header section
@import "header";
.ar {
  // header section
  header {
    .header-section {
      .logo-menu-wrap {
        .wrapper {
          .left {
            margin: 0 0 0 30px;
          }

          .right {
            &::before {
              left: 0px;
              right: -15px;
            }
          }
        }
      }

      .left-box {
        nav {
          left: unset;
          right:0;
          transform: translateX(0);
          
        }
        .trans{transform: translateX(400px);}
        .editnav {
          
          .close {
            float: left;
          }
        }
  
        .handel-nav {
          li {
            
            transition: var(--transition);
            a {
              color: $brand-gray;
  
              &:hover {
                transform: scaleY(1.2);
                color: $brand-primary;
              }
            }
          }
        }
  
        .right-menu {
         
  
          li {
            margin: 0 20px;
            font-size: 24px;
            transform: perspective(1px) translateZ(0);
            transition-duration: 0.3s;
            transform: translateZ(0);
            transition-duration: 0.3s;
            transition-property: transform;
            transition-timing-function: ease-out;
  
            &:nth-child(3) {
              font-family: "GE_SS_Two_Bold";
              font-size: 18px;
            }
            &:hover {
              transform: scale(1.5);
              transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
            }
  
           
          }
       
        }
      }
    }

    ////////respon-menu
  }

  @media screen and (max-width: 580px) {
    .header-section {
      .logo-menu-wrap {
        .wrapper {
          .left {
            margin: 0 0 0 30px;
          }
          .right {
            position: relative;
            &::before {
              left: 0px;
              right: -15px;
            }
          }
        }
      }
    }
  }
}
