// header section
header {
  background-color: $pure-white;
  .header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 20px 0;
    .logo-menu-wrap {
      .wrapper {
        display: flex;
        align-items: baseline;
        .left,
        .right {
          width: 100px;
          a {
            img {
              width: 100%;
              vertical-align: baseline;
            }
          }
        }
        .left {
          margin: 0 30px 0 0;
        }
        .right {
          position: relative;

          &::before {
            content: "";
            width: 1px;
            height: 45px;
            background-color: #73654a;
            position: absolute;
            display: block;
            top: 12px;
            left: -15px;
          }
        }
      }
    }

    .left-box {
      nav {
        background: #f6f5f5;
        padding: 50px;
        width: 400px;
        position: relative;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 111;
        transition: all 0.5s linear;
        transform: translateX(0);
        /*  animation: myAnim 1s ease 0s 1 normal forwards; */
      }
      .trans {
        transform: translateX(-402px);
      }
      .editnav {
        transition: all 0.5s linear;
        .close {
          float: right;
          color: $brand-gray;
          cursor: pointer;
          transition: all 0.3s linear;
          font-size: 1.5rem;
          &:hover {
            color: rgb(201, 14, 79);
            transform: rotate(360deg);
          }
        }
      }

      .handel-nav {
        li {
          display: block;
          font-size: 1.5rem;
          text-transform: capitalize;
          padding: 1rem;
          transition: var(--transition);
          a {
            color: $brand-gray;

            &:hover {
              transform: scaleY(1.2);
              color: $brand-primary;
            }
          }
        }
      }

      .right-menu {
        display: flex;
        li {
            margin: 0 20px;
          //  font-size: 24px;
          // transform: perspective(1px) translateZ(0);
          // transition-duration: 0.3s;
          // transform: translateZ(0);
          // transition-duration: 0.3s;
          // transition-property: transform;
          // transition-timing-function: ease-out;
          a {
            i,span {
               color: $brand-gray; 
                font-size: 24px;
              // position: relative;
              // width: 40px;
              // height: 40px;
               display: -webkit-inline-box;
              display: -ms-inline-flexbox;
               display: inline-flex;
               -webkit-box-align: center;
               -ms-flex-align: center;
               align-items: center;
               -webkit-box-pack: center;
               -ms-flex-pack: center;
              // justify-content: center;
              // border-radius: 20px;
              // -webkit-transition-duration: 300ms;
              // transition-duration: 300ms;
              &:hover { 
                
                color: $brand-primary;
                // background-color:#F2F2F7;
                transform: scale(1.1);
              /*   transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36); */
              }
            }


             span {
            font-family: "GE_SS_Two_Bold";
            font-size:18px;
          }

          }
        }
         
        
        /*  nav {
                    background: #24527a;
                    border-radius: 10px;
                    padding: 80px; 
                    position: absolute;
                    transform: translateY();
                    right: -28%;
                
                    ul {
                        li {
                            a {
                                margin: 20px 40px;
                            }
                        }
                    }
                } */
      }
    }
  }
  .right-box {
    .right-menu {
      li {
        a {
          color: $brand-primary;

          i {
            color: $brand-primary;
            background: $brand-white-shade;
          }

          span {
            &::after {
              background: $brand-primary;
            }
          }
          &:hover {
            color: $brand-primary;
            i {
              background: $brand-primary;
              color: $pure-white;
            }
            span {
              color: $brand-primary;
            }
          }
          &.arabic {
            font-family: $font-base-rtl;
          }
        }
      }
    }
  }
  ////////respon-menu
}
// @media screen and (max-width: 769px) {
//   .header-section {

    
//     .left-box {
//       .right-menu {
//         display: flex;
//         li {
//           display: none;
//         }
//         .burger-mune {
//           display: block;
//         }
//         li {
//           margin: 0 20px;
//           font-size: 24px;

//           a {
//             color: $brand-gray;
//           }
//         }
//       }
//     }
    
//   }
// }

@media screen and (max-width: 580px) {
  .header-section {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    align-content: center;
    padding: 25px 0;
    .logo-menu-wrap {
      .wrapper {
        display: flex;
        align-items: baseline;

        .left,
        .right {
          width:60px !important;

          a {
            img {
              width: 100%  ;
            }
          }
        }

        .right {

          &::before {
            content: "";
            height: 31px !important;
            top: 4px !important;
          }
          /* border-left: 1px solid $brand-dark-gray; */
        }
      }
    }

    .left-box {
      .right-menu {
        display: flex;
        li {
          display: none;
        }
        .burger-mune {
          display: block;
        }
        li {
          margin: 0 20px;
          font-size: 24px;

          a {
            color: $brand-gray;
          }
        }
      }
    }
  }
}


