header {
  // position: fixed;
  // background-color: $pure-white;
  padding: 15px;
  ul{
    li{
      padding: 0 10px;
      a{
        color:$black !important;
     font-weight: 400 !important;
    font-size: 18px !important;
    line-height: 24px;
      }
    }
  }
.navbar-collapse {
  flex-grow: unset;
  
}}

