.main-banner{
    padding-top: 0;
    .banner-slide {
        background-color: $pure-white;
        width: 100%;
        .owl-dots {
            position: absolute;
            top: 73%;
            left: 5%;
            button.owl-dot {
                background: rgba(255, 255, 255, 0.3);
                width: 18px;
                height: 18px;
                border-radius: 50%;
                margin: 0 13px;
                &.active {
                    background: #a3c891;
                    border-radius: 10px;
                    width: 36px;
                }
                
                
            }
            .owl-dot {
                    &:hover{
                    background: #a3c891 !important;
                }
                }
        }
        .item-slide {
            position: relative;
            display: flex;
            justify-content: flex-end;
            .img-slider {
                width: 80%;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .overlay {
                background-position: left top, center bottom;
                background-repeat: no-repeat, no-repeat;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: linear-gradient(45deg, rgba(36, 82, 122, 1) 40%, rgba(36, 82, 122, 0) 100%);
                z-index: 999;
                &::before {
                    content: "";
                    position: absolute;
                    background-repeat: no-repeat;
                    background-position: left center;
                    width: 100%;
                    height: 100%;
                    left: 20%;
                    background-image: url(../../images/Vector-2.png);
                    top: 23%;
                }
                &::after {
                    content: "";
                    position: absolute;
                    background-image: url("../../images/left-vector.png");
                    background-repeat: no-repeat;
                    background-position: left center;
                    background-size: cover;
                    height: 100%;
                    width: 254px;
                    left: 0;
                    top: 33px;
                    border-top-right-radius: 15px;
                    border-bottom-right-radius: 15px;
                }
            }
            .content-wrapper {
                position: absolute;
                left: 75px;
                top: 225px;
                font-weight: 700;
                font-size: 60px;
                z-index: 1111;
                text-transform: uppercase;
                color: $pure-white;
                span {
                    color: $brand-gray2;
                }
            }
        }
    }

    /*     .banner-slide {
        position: relative;
        .slider-item {
            width: 100%;
            height: 100vh;
            position: relative;
            .icon-top {
                position: relative;
                right: 0;
                top: -191%;
                display: flex;

                i {
                    font-size: 40px;
                color:$pure-white; 
                }
            }
            .container {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: flex-end;
                position: relative;
                z-index: 2;
                .row {
                    width: 100%;
                }
                .slider-content {
                    position: relative;
                    top: -20px;
                    color: $pure-white;
                    h6 {
                        margin-bottom: 15px;
                    }
                    h2 {
                        line-height: 1.2;
                    }

                    p {
                        margin: 20px 0;
                    }
                    .action-wrapper {
                        display: inline-flex;
                        padding-bottom: 55px;
                        .border-line {
                            span {
                                i {
                                    font-size: 20px;
                                }
                            }
                        }
                    }

                    .icon-header {
                        position: absolute;
                        right: -90%;
                        display: flex;
                        top: 35%;
                        flex-direction: column;

                        span {
                            margin: 13px 0;
                            padding: 15px 0;
                            height: 50px;
                            width: 50px;
                            background: #1c8192;
                            border-radius: 50%;
                            text-align: center;
                            i {
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
            .img-slider {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                &::before {
                    content: "";
                    width: 100%;
                    height: 100%;
                    background-color: $black;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 1;
                }
                #myVideo {
                    position: absolute;
                    left: 0%;
                    top: 0;
                    width: 100%;
                }
            }




        }

        .owl-item {
            &.active {
                .slider-item {
                    .container {
                        .slider-content {
                            h2 {
                                animation: fadeInUp 1300ms;
                            }
                            .action-wrapper {
                                animation: fadeInUp 1500ms;
                            }
                        }
                    }
                }
            }
        }

        .owl-nav {
            display: none;
        }
        .owl-dots {
            position: absolute;
            bottom: 50px;
            left: 10%;
            transform: translateX(-50%);
            width: 100%;
            max-width: 1440px;
            margin: 0px auto;
            display: flex;
            justify-content: flex-end;
            .owl-dot {
                width: 14px;
                height: 14px;
                background-color: transparent;
                margin-right: 15px;
                opacity: 0.5;
                border-radius: 100%;
                border: solid 2px $brand-primary;
                &:last-child {
                    margin-right: 0;
                }
                &.active {
                    background-color: $brand-primary;
                    opacity: 1;
                }
            }
        }
    }
 */

    /* background-color: $brand-primary;
display: flex;
align-items: center;
position: relative;
border-radius: 15px;
padding: 60px;
text-align: center;
min-height: 200px;
overflow: hidden; */
}

@media screen and (max-width: 1399px) {
    .main-banner {
        .banner-slide {
            .item-slide {
               
                .content-wrapper {
                    left: 60px;
                    top: 198px;
                    font-weight: 700;
                    font-size: 47px;
                }
            }
        }
    }
}

@media screen and (max-width: 1199px) {
    .main-banner {
        .banner-slide {
            .item-slide {
              
                .content-wrapper {
                    top: 135px;
                    font-size: 40px;
                }
            }
        }
    }
}

@media screen and (max-width: 769px) {
    .main-banner {
        .banner-slide {
            .item-slide {
                .overlay {
                 
                    &::before {
                        content: "";
                        display: none;
                    }
                    &::after {
                        content: "";
                        top: -3px;

                    }
                }
                .content-wrapper {
                    left: 47px;
                    top: 110px;
                    font-weight: 400;
                    font-size: 30px;
                }
            }
        }
    }
}
@media screen and (max-width: 580px) {
    .main-banner {
        .banner-slide {
            .item-slide {
                .overlay {
                 
                 
                    &::after {
                        content: "";
                        display: none;
                    }
                }
                .content-wrapper {
                    left: 33px;
                    top: 37px;
                    font-weight: 200;
                    font-size: 20px;
                }
            }
        }
    }
}
@media screen and (max-width: 325px) {
    .main-banner {
        .banner-slide {
            .item-slide {
                
                .content-wrapper {
                    left: 28px;
                    top: 33px;
                    font-weight: 200;
                    font-size: 15px;
                
                }
            }
        }
    }
}
